body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocationCard {
  margin: 1px;
  width: 95svw;
}

.title {
  font-size: large;
  font-weight: bold;
}

.facilitiesCard {
  width: 82vw;
}
