.plan-content {
  display: flex;
  flex-direction: column;
}

.planCard {
  height: 2em;
  margin: 0.5em;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel {
  margin: 10px;
  height: 30px;
  width: 40px;
}

.plancard {
  border: 1px solid black;
}

.hourInput,
.minInput {
  text-align: center;
}
