.ion-img-center {
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-text {
  font-size: 1.5em;
  left: 50%;

}

#loginInputForm, h5{
  text-align: center;
}

#oAuthLogin {
  text-align: center;
  flex-direction: column;
  display: flex;

}


.pwLoginButton, .regButton {
  width: 50%;

}
 
#oAuthButton {
  justify-content: center;
  display: flex;
  direction: column;
}
