.tabText {
  color: black;
}

.SuggestionCard {
  width: 88vw;
  height: 30vh;
}

.add-btn {
  position: absolute;
  right: 0;
  top: 22vh;
}

.cardBody {
  position: relative;
}

.加入 {
  background-color: #171c3d;
}
.按此取消 {
  background-color: #b2becd;
}

.totaltime,
.attractions_name {
  font-weight: bold;
  font-size: 0.9em;
}

.arrow {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
