.ion-avatar-center {
    height: 22vh;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

#avatarImg {
    border: 1px solid skyblue;
    border-radius: 6em;
    padding: 1em;
    margin: 0.5em;
    max-width: 100%;
    height: auto;
}
