.ion-img-center {
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pwLoginButton,
.regAccount {
  text-align: center;
  width: 50%;
}

#loginRegButtons {
  text-align: center;
  flex-direction: column;
  display: flex;
}

#aboutUs,
#terms {
  border-radius: 20px;
}

h6 {
  color: grey;
  font-size: 1em;
  padding-left: 10px;
}

.logOut,
.edit {
  font-size: 15px;
  width: 100vw;
}

.tertiary,
.secondary {
  margin: 2px;
  font-size: 13px;
  padding: 12px;
}
