/* .board {
  display: flex;
  flex-direction: column;
} */

.districtCard {
  text-align: center;
  font-size: 12px;
}

.modal-button {
  height: 50px;
  width: 50vw;
  border: 1px solid black;
  background-color: #ffc409;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.segment-btn {
  font-size: 12px;
  height: 35px;
  width: 30vw;
}

.FacilitiesCard {
  text-align: center;
  width: 45vw;
  height: 23vh;
  margin: 5px;
}

.fac_title {
  font-size: 18px;
}

.BookmarkCard {
  text-align: center;
}

.subDistrictCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  height: 15vh;
  margin: 5px;
}

.hotel {
  margin-bottom: 50px;
}

.categoryCard {
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
  margin: 10px;
}
