.card {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 38px;
  width: 86vw;
  height: 35vh;
}

.plancard {
  width: 100vw;
  height: fit-content;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-left: 5px;
}

/* .planDetail {
  display: flex;
  justify-content: center;
  align-items: center;
} */
